<%# locals: (label:) %>
<span class="mdc-chip" role="row">
  <span class="mdc-chip__cell mdc-evolution-chip__cell--primary" role="gridcell">
    <button class="mdc-chip__action mdc-evolution-chip__action--primary" type="button">
      <span class="mdc-chip__ripple mdc-evolution-chip__ripple--primary"></span>
      <span class="mdc-chip__text-label"><%= label %></span>
    </button>
  </span>
</span>
