<ul class="mdc-deprecated-list mdc-deprecated-list--icon-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
  <li class="mdc-deprecated-list-item" role="menuitem">
    <span class="mdc-deprecated-list-item__ripple"></span>
    <span class="mdc-deprecated-list-item__icon material-icons">person</span>
    <span class="mdc-deprecated-list-item__text pl-2">My Profile</span>
  </li>
  <li class="mdc-list-divider" role="separator"></li>
  <li class="mdc-deprecated-list-item" role="menuitem">
    <span class="mdc-deprecated-list-item__ripple"></span>
    <span class="mdc-deprecated-list-item__icon material-icons">logout</span>
    <span class="mdc-deprecated-list-item__text pl-2">Logout</span>
  </li>
</ul>
